<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About My Lab's Research</h2>
                    <hs>I am the Director of United States Fish and Wildlife Service's <a href="https://www.fws.gov/southeast/warm-springs-fish-technology-center/conservation-genetics-lab/">Southeast Conservation Genetics Lab</a>.</br>We're located in the <a href="http://sfaas.auburn.edu">School of Fisheries, Aquaculture, and Aquatic Sciences</a> at <a href="http://auburn.edu">Auburn University</a>.</hs>
		    <p></br></p>
	            <p>My lab is broadly interested in relationships among organisms and the evolutionary processes that generate biodiversity.</br>Much of our work empahsizes freshwater conservation with a focus on mollusks.</br></b>This is Nathan's personal website. Visit my lab's USFWS website <a href="https://www.fws.gov/southeast/warm-springs-fish-technology-center/conservation-genetics-lab/">here</a>.</p> 
		    <p></br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                         <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/virgata_final_smaller.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Freshwater Mollusks</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Freshwater mollusks are the lab's primary study organisms. One reason we study mollusks is to enhance conservation efforts. The health of many freshwater ecosystems, and therefore much of society, rely on freshawter snails and mollusks. Unfortunately, over 75% of freshwater mussels and snails are at risk of extinction, and the greatest barrier to effective conservation is a lack of knowledge. We use phylogenetics and conservation genomics to better understand freshwater mollusks.</p>  
			    </div>
                            <a href="/projects/mollusks.html" class="page-scroll btn btn-xl">Current Projects</a>
                            </div>   
                        </li>
                        <li class="timeline-inverted">
			<div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Ctenophore_small.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phylogenetics and Comparative Biology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>My lab seeks to understand the patterns and processes that have contributed to animal diversification. Our primary study organisms are invertebrates. We have a number of ongoing projects on phylogenomics of freshwater mollusks and conservation genomics of animals ranging from freshwater snails to sturgeon. We are also interested in evolution of gene families, particulary those involved with invertebrate adaptation to freshwater environments.</p>
                                </div>
				<a href="/projects/phylogenetics.html" class="page-scroll btn btn-xl">Current Projects</a>
                            </div>                            
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Con_gen.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Conservation Genetics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>A consequence of species decline is often a decline in population-level genetic diversity. Our research aims to understand how conservation efforts can maintain or increase genetic diversity of managed populations and species. We also seek to better understand the molecular ecology of threatened and endangered species. For this research, our lab collaborates with landowners and hatcheries. We also spend time in the field sampling at-risk, threatened, and endangered species, with a focus on rivers in the southeastern United States.</p>
				</div>
                            	<a href="/projects/conservationGenetics.html" class="page-scroll btn btn-xl">Current Projects</a>
			     </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Phylogeny.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bioinformatics and Phylogenetic Inference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Modern genetics research requires a considerable amount of computational biology. Part of my lab's research includes designing new bioinformatics pipelines for evolutionary research. We also study the performance of different phylogenetic methods in an effort to determine which models and methods can provide the most accurate estimation of organismal relationships.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
