<!-- Publications Section -->
<section id="publications" class="bg-light-gray">
<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
		    <h5>Please email me if you don't have access to one of these papers and you would like a copy.</h5>
			<h5>I'd be happy to send you a copy.</h5>
	        </div>
            </div>
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Townsend, J.P., M.G. Tassia, A. Damian-Serrano, N.V. Whelan, K.M. Halanych, A.M. Sweeny. (2020) A mesopelagic ctenophore representing a new family, with notes on family-level taxonomy in Ctenophora: <i>Vampyroctena delmarvensis</i> gen. nov. sp. nov. (Vampyroctenidae, fam. nov.). <i>Marine Biodiversity</i>. 50: 34. <a href="https://doi.dx.org/10.1007/s12526-020-01049-9">DOI: 10.1007/s12526-020-01049-9</a> (<a href="https://rdcu.be/b4dLR">PDF</a>)</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Bogantes, V.E., N.V. Whelan, K. Webster, A.R. Mahon, K.M. Halanych (2020) Unrecognized diversity of a scale worm, <i>Polyeunoa laevis</i> (Annelida: Polynoidae), that feeds on soft coral. <i>Zoologica Scripta.</i> 49: 236-249.<a href="https://onlinelibrary.wiley.com/doi/full/10.1111/zsc.12400">DOI: 10.1111/zsc/12400</a>(<a href="nathanwhelan.github.io/assests/Bogantes_et_al_2020.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Ksepka, S.P., J.M Rash, N.V. Whelan, S.A. Bullard. (2019) A new species of <i>Myxobolus</i> (Myxozoa: Bivalvulida) infecting the medulla oblongata and nerve cord of brook trout Salvelinus fontinalis in southern Appalachia (New River, North Carolina, USA). <i>Parasitology Resarch.</i> 118: 3241-3252.<a href="https://link.springer.com/article/10.1007/s00436-019-06472-x">DOI: 10.1007/s00436-019-06472-x</a> (<a href="https://github.com/NathanWhelan/nathanwhelan.github.io/assests/Ksepka2019_Article_ANewSpeciesOfMyxobolusMyxozoaB.pdf">PDF</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Bullard, S.A., J.R. Roberts, M.B. Warren*, H.R. Dutton, N.V. Whelan, C.F. Ruiz, T.R. Platt, V.V. Tkach, S.V. Brant, K.M. Halanych. (2019) Neotropical turtle blood flukes: two new genera and species from the Amazon River basin with a kay to genera and comments on a marine-derived parasite lineage in South America. <i>Journal of Parasitology.</i> 105: 497-523.<a href="https://bioone.org/journals/Journal-of-Parasitology/volume-105/issue-4/19-27/Neotropical-Turtle-Blood-Flukes--Two-New-Genera-and-Species/10.1645/19-27.full">DOI: 10.1645/19-27</a> (<a href="https://github.com/NathanWhelan/nathanwhelan.github.io/assests/Bullard_et_al_2019.pdf">PDF</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Warren, M.B., H.R. Dutton, N.V. Whelan, R.P.E. Yanong, S.A. Bullard. (2019) First record of a species of Mermithidae Braun, 1883 infecting a decapod <i>Palaemon paludosus</i>. <i>Journal of Parasitology.</i> 105: 237-247.<a href="https://www.journalofparasitology.org/doi/abs/10.1645/18-168">DOI: 10.1645/18-168</a> (<a href="https://github.com/NathanWhelan/nathanwhelan.github.io/assests/Warren_et_al_2019_Website.pdf">PDF</a>)</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Strong, E.E. & N.V. Whelan. (2019) Assessing the diversity of Western North American <i>Juga</i>. <i>Molecular Phylogenetics and Evolution.</i> 136: 87-103.<a href="https://doi.org/10.1016/j.ympev.2019.04.009">DOI: 10.1016/j.ympev.2019.04.009</a>(<a href="https://github.com/NathanWhelan/nathanwhelan.github.io/assests/Strong_and_Whelan_2019.pdf">PDF</a>)</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., M.P. Galaska, B.N. Sipley, J.M. Weber, P.D. Johnson, K.M. Halanych, B.S. Helms. (2019) Riverscape genetic variation, migration patterns, and morphological variation of the threatened Round Rocksnail <i>Leptoxis ampla</i>. <i>Molecular Ecology.</i> 28: 1593-1610. <a href="https://rdcu.be/bwEbJ">LINK</a> (<a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/mec.15032">PDF</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Warren, M.B., C.F. Ruiz, N.V. Whelan, D.C. Kritsky, S.A. Bullard. (2019) <i>Gymnurahemecus bulbosus</i> gen. et sp. nov. (Digenea: Aporocotylidae) infecting smooth butterfly rays, <i>Gymnura micrura</i> (Myliobatiformes: Gymnuridae) in the northern Gulf of Mexico, with a taxonomic key and further evidence for monophyly of chondrichthyan blood flukes. <i>Parasitology Research.</i> 118: 751-762. <a href="https://doi.org/10.1007/s00436-018-06202-9">DOI: 10.1007/s00436-018-06202-9</a> (<a href="https://github.com/NathanWhelan/nathanwhelan.github.io/assests/Warren_et_al_2019_gymnurahemecus.pdf">PDF</a>)</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., K.M. Kocot, T.P. Moroz, K. Mukherjee, P. Williams, G. Paulay, L.L. Moroz, K.M. Halanych. (2017) Ctenophore relationships and their placement as the sister group to all other animals. <i>Nature Ecology and Evolution.</i> 1: 1737-1746. <a href="http://rdcu.be/wAL8">PDF</a></p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., P.D. Johnson, J.T. Garner, E.E. Strong. (2017) On the identity of Leptoxis taeniata – a misapplied name for the federally threatened Painted Rocksnail (Cerithioidea: Pleuroceridae). <i>Zookeys.</i> 697: 21-36. <a href="http://dx.doi.org/10.3897/zookeys.697.14060">doi: 10.3897/zookeys.697.14060</a>.</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Tassia, M.G., N.V. Whelan, K.M. Halanych. (2017) Toll-like receptor pathway evolution in deuterostomes. <i>Proceedings of the National Academy of Sciences.</i> 114: 7055–7060. <a href="http://dx.doi.org/10.1073/pnas.1617722114">doi: 10.1073/pnas.1617722114</a>.</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Costa-Paiva E.M., N.V. Whelan, D.S. Waits, S. Santos, C.G. Schrago, K.M. Halanych. (2017) Discovery and evolution of novel hemerythrin genes in annelid worms. <i>BMC Evolutionary Biology.</i> 17: 85. <a href="http://dx.doi.org/10.1186/s12862-017-0933-z">doi:10.1186/s12862-017-0933-z</a>.</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., K.M. Halanych. (2017) Who let the CAT Out of the Bag? Accurately dealing with substitutional heterogeneity in phylogenomics. <i>Systematic Biology</i>. 66: 232-255. <a href="http://dx.doi.org/10.1093/sysbio/syw084">doi:10.1093/sysbio/syw084</a>.</p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Yuanning, Li, K.M. Kocot, N.V. Whelan, S.R. Santos, D.S. Waits, D.J. Thornhill, K.M. Halanych. (2017) Phylogenomics of tubeworms (Siboglinidae, Annelida) and comparative performance of different reconstruction methods. <i>Zoologica Scripta</i>. 46: 200-213. <a href="http://dx.doi.org/10.1111/zsc.12201">doi:10.1111/zsc.12201</a>. (<a href="nathanwhelan.github.io/assests/Li_et_al_2016_Siboglinidae_phylogenomics.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., K.M. Halanych, K.M. Kocot, A.B. Kohn, L.L. Moroz. (2016) Miscues misplace sponges. <i>Proceedings of the National Academy of Sciences.</i> 113: E946-E947. <a href="http://dx.doi.org/10.1073/pnas.1525332113">doi:10.1073/pnas.1525332113</a>. (<a href="nathanwhelan.github.io/assests/Halanych_et_al_2016_miscues_misplace_sponges.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., E.E. Strong. (2016) Morphology, molecules and taxonomy: extreme incongruence in pleurocerids (Gastropoda, Cerithioidea, Pleuroceridae). <i>Zoologica Scripta</i>. 45: 62-87.<a href="http://dx.doi.org/10.1111/zsc.12139">doi:10.1111/zsc.12139</a>. (<a href="nathanwhelan.github.io/assests/Whelan_and_Strong_2015_ZooScripta.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V. (2016) Radular morphology of extinct pleurocerids (Gastropoda: Cerithioidea: Pleuroceridae). <i>American Malacological Bulletin</i>. 33: 221-226.<a href="http://dx.doi.org/10.4003/006.033.0202">doi:10.4003/006.033.0202</a>. (<a href="nathanwhelan.github.io/assests/Whelan_2016_extinct_radulae.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., K.M. Kocot, K.M. Halanych. (2015) Employing phylogenomics to resolve the relationships among cnidarians, ctenophores, sponges, placozoans, and bilaterians. <i>Integrative and Comparative Biology</i>. 55: 1084-1095. <a href="http://dx.doi.org/10.1093/icb/icv037">doi:10.1093/icb/icv037</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2015_ICB.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., K.M. Kocot, L.L. Moroz, K.M. Halanych. (2015) Error, signal, and the placement of Ctenophora sister to all other animals. <i>Proceedings of the National Academy of Sciences</i>. 112: 5773-5778. <a href="http://dx.doi.org/10.1073/pnas.1503453112">doi:10.1073/pnas.1503453112</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2015_Ctenophora_PNAS.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., P.D. Johnson, P.M. Harris. (2015) Life-history traits and shell morphology in the genus Leptoxis Rafinesque, 1819 (Gastropoda: Cerithioidea: Pleuroceridae). <i>Journal of Molluscan Studies.</i> 81: 85-95. <a href="http://dx.doi.org/10.1093/mollus/EYU058">doi:10.1093/mollus/EYU058</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2015_Leptoxis_life_history.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., K.M. Kocot, S.R. Santos, K.M. Halanych. (2014) Transcriptome sequencing of nemerteans reveals a diverse suite of toxin genes. <i>Genome Biology and Evolution.</i> 6: 3314-3325. <a href="http://dx.doi.org/10.1093/gbe/evu258">doi:10.1093/gbe/evu258</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2014_nemertea.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., E.E. Strong. (2014) Seasonal reproductive anatomy and sperm storage in pleurocerid gastropods (Cerithioidea: Pleuroceridae). <i>Canadian Journal of Zoology.</i> 92: 989-995. <a href="http://dx.doi.org/10.1139/cjz-2014-0165">doi:10.1139/cjz-2014-0165</a>. (<a href="nathanwhelan.github.io/assests/Whelan_and_Strong_2014_rePrint.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p>Benstead, J.P., J.M. Hood, N.V. Whelan, M.R. Kendrick, D. Nelson, A.F. Hanninen, L.M. Demi. (2014) Dietary P-growth coupling across diverse fish taxa: a meta-analysis of experimental aquaculture studies. <i>Ecology.</i> 95: 2768-2777. <a href="http://dx.doi.org/10.1890/13-1859.1">doi:10.1890/13-1859.1</a>. (<a href="nathanwhelan.github.io/assests/Benstead_et_al_2014.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Johnson, P.D., A.E. Bogan, K.M. Brown, N.M. Burkhead, J.R. Cordeiro, J.T. Garner, P.D. Hartfield, D.A. Lepitzki, G.L. Mackie, E. Pip, T.A. Tarpley, J.S. Tiemann, N.V. Whelan, E.E. Strong. (2013) Conservation status of freshwater gastropods of Canada and the United States. <i>Fisheries.</i> 38: 247-282. <a href="http://dx.doi.org/10.1080/03632415.2013.785396">doi:10.1080/03632415.2013.785396</a>. (<a href="nathanwhelan.github.io/assests/Johnson_et_al_Fisheries.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan N.V., P.D. Johnson, P.M. Harris. (2012) Rediscovery of Leptoxis compacta (Anthony, 1854) (Gastropoda: Cerithioidea: Pleuroceridae). <i>PLoS One.</i> 7:e42499. <a href="http://dx.doi.org/10.1371/journal.pone.0042499">doi:10.1371/journal.pone.0042499</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2012_Compacta.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., P.D. Johnson, P.M. Harris. (2012) Presence or absence of carinae between closely related populations of Leptoxis ampla (Anthony, 1854) (Gastropoda: Pleuroceridae) is not the result of ecophenotypic plasticity. <i>Journal of Molluscan Studies.</i> 78: 231-233. <a href="http://dx.doi.org/10.1093/mollus/eys005">doi:10.1093/mollus/eys005</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2012_ampla-mimica.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V. (2011) Species tree inference in the age of genomics. <i>Trends in Evolutionary Biology.</i> 3:e5. <a href="http://dx.doi.org/10.4081/eb.2011.e5">doi:10.4081/eb.2011.e5</a>. (<a href="nathanwhelan.github.io/assests/Whelan_2011_species_tree.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>
	
<div class="box"><div class="box-title"></div><div class="box-body">
	<p> Whelan, N.V., A. Geneva, D.L. Graf. (2011) Molecular phylogenetic analysis of tropical freshwater mussels (Mollusca: Bivalvia: Unionoida) resolves the position of Coelatura and supports a monophyletic Unionidae. <i>Molecular Phylogenetics and Evolution</i>. 61:504-514. <a href="http://dx.doi.org/10.1016/j.ympev.2011.07.016">doi:10.1016/j.ympev.2011.07.016</a>. (<a href="nathanwhelan.github.io/assests/Whelan_et_al_2011_unionidPhylogeny.pdf">pdf</a>) </p>
</div><div class="box-footer"> </div></div>	
	
	</div>
</section>
