<div class="container">
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People</h2>
                <h3 class="section-subheading">Lab members</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/lab-update.jpg" style="max-width: 100%" />
                <p class="large text-muted">Swingle Hall, Auburn University, September 2022.</br>This picture is outdated. New picture from The Ohio State University coming soon.</p>
            </div>
        </div>

        <div class="row">
            {% for member in site.people %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p>{{ member.position }}</p>
                        <p>{{ member.description }}</p>
                        {% if member.social %}
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% assign mobile_remainder = forloop.index | modulo: 2 %}
                {% assign tablet_remainder = forloop.index | modulo: 3 %}
                {% assign desktop_remainder = forloop.index | modulo: 4 %}
                {% if mobile_remainder == 0 %}
                    <div class="clearfix visible-xs-block"></div>
                {% endif %}
                {% if tablet_remainder == 0 %}
                    <div class="clearfix visible-sm-block"></div>
                {% endif %}
                {% if desktop_remainder == 0 %}
                    <div class="clearfix visible-md-block visible-lg-block"></div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>
